.squareList {
    list-style-type: square;
}
.circleList {
    list-style-type: circle;
}

.colorGreen{
    color: green;
}

.pinkBackground{
    background-color: pi;
}

.greenBG{
    background-color: green;
}